.btn-primary {
  box-sizing: border-box;
  color: $light-color;
  padding: 15px 50px;
  border-radius: 30px;
  background: linear-gradient(74deg, #49007c 0%, #e70088 100%);
}

.btn-primary:hover {
  color: $light-color;
  text-decoration: none;
  transition: 0.5s;
  transition-property: background;
  background: linear-gradient(135deg, rgba(186,0,133,1) 0%, rgba(73,0,124,1) 100%);
  box-shadow: 0px 20px 83px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 20px 83px -6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 20px 83px -6px rgba(0,0,0,0.5);
}
