//font
body {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

//main
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 20px 40px;
  padding: 15px 30px;
  background: #c6c6c6;
}

i {
  font-weight: 700;
  color: #2c6ed5;
  padding: 10px;
}
