footer {
  padding: 60px 0;
  color: $secondary-color;

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
    font-weight: 700;
  }
}
