header {
  position: fixed;
  width: 100%;
  background: transparent;
  color: $light-color;
  overflow: hidden;
  z-index: 10;

  .navbar {
    .collapse {
      .navbar-nav {
        .nav-link {
          padding: 15px 30px;
        }
      }
    }
  }
  .navbar-brand {
    width: 50%;
  }

  .main-logo {
    max-width: 289px;
    width: 100%;
  }

  .active {
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

